body {
    margin: 0;
    padding: 0;
    top: 50px;
    height: 200vh;
    background-color:white;
    position: relative;
    color:darkslategrey;
}

.heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    position: fixed;
    border-bottom: 3px;
    
    background-color: darkslategray;
    width: 100%;
    height: 10%;
    top: 0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.heading-text {
    font-family: 'Brush Script MT', cursive;
    font-size: 36px;
    color: white;
    text-align: center;
}

.subheading {
    margin-top: 10%;
    font-size: 30px;
    padding: 20px;
    font-family: 'Brush Script MT', cursive;
    border-color: wheat;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

#bannerImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

img {
    background-color: white;
    border-radius: 16px;
}

a {
    color: darkslategrey;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
div.container {
    text-align: center;
    width: fit-content;
    background-color: snow;
    margin: 10px;
    padding: 10px;
   
    border: solid 2px;
    border-radius: 16px;

    transition: box-shadow 0.3s ease-in-out;
  }

  div.container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.3);
}

